
/.vs/ProjectEvaluation
/.vs/TechnicalAxos_JavierUezen
.vs/TechnicalAxos_JavierUezen/v17/.suo
.vs/ProjectEvaluation/technicalaxos_javieruezen.metadata.v7.bin
/.vs/TechnicalAxos_JavierUezen/v17
/.vs/TechnicalAxos_JavierUezen
